<!DOCTYPE html>
<html>
<head>
  	<meta charset="utf-8">
	<title>Sem Deep Mind</title>
	<link rel="stylesheet" href="css/mainstyle.css">
    <link rel="stylesheet" href="css/dashboard.css">
</head>
<body>
	<header>
		<h1>Sem Deep Mind</h1>

		<ul>
			<li><a href="/">Accueil</a></li>
			<li><%= lastname %> <%= name %></li>
		</ul>
    </header>

    <div class="content">
        <table class="card_list">
            <tr>
                <td class="card" data-course="french">
                    <img src="img/card_fr.png">
                    <h4>Français</h4>
                </td>

                <td class="card" data-course="maths">
                    <img src="img/card_math.png">
                    <h4>Mathématiques</h4>
                </td>

                <td class="card" data-course="history">
                    <img src="img/card_hist.png">
                    <h4>Histoire</h4>
                </td>
            </tr>
            <tr>
                <td class="card" data-course="geography">
                    <img src="img/card_geo.png">
                    <h4>Géographie</h4>
                </td>

                <td class="card" data-course="biology">
                    <img src="img/card_svt.png">
                    <h4>SVT</h4>
                </td>

                <td class="card" data-course="chemestry">
                    <img src="img/card_phys.png">
                    <h4>Physique</h4>
                </td>
            </tr>
            <tr>
                <td class="card" data-course="memotechnique">
                    <img src="img/card_memotechinque.png">
                    <h4>Mémotechniques</h4>
                </td>
            </tr>
        </div>
    </div>

    <script type="text/javascript" src="js/jquery-2.2.0.min.js"></script>
    <script type="text/javascript" src="js/dashboard_script.js"></script>




</body>
</html>
