<!DOCTYPE html>
<html>
<head>
  	<meta charset="utf-8">
	<title>Sem Deep Mind</title>
    <link rel="stylesheet" href="css/mainstyle.css">
    <link rel="stylesheet" href="css/index.css">
</head>
<body>
	<header>
		<h1>Sem Deep Mind</h1>

		<ul>
			<li class="active"><a href="/">Accueil</a></li>
			<li><a href="/signin">S'inscrire</a></li>
		</ul>
</header>

<div class="content">
    <div class="citation_div">
        <p class="citation"> « L’INTELLIGENCE Ce n’est pas ce que l’on SAIT, mais, Ce que l’on FAIT quand on ne sait pas. » <p> </p class="citation_author">Jean Piaget</p>
    </div>

</div>

<footer>
    <p>Projet réalisé par Jeremie Letzelter, Sébastien Letzelter, Mylène Noé (Walbourg)</p>
</footer>
</body>
</html>
