<!DOCTYPE html>
<html>
<head>
  	<meta charset="utf-8">
	<title>Sem Deep Mind</title>
	<link rel="stylesheet" href="css/mainstyle.css">
    <link rel="stylesheet" href="css/signin.css">
</head>
<body>
	<header>
		<h1>Sem Deep Mind</h1>

		<ul>
            <li><a href="/">Accueil</a></li>
			<li class="active"><a href="/signin">S'inscrire</a></li>
		</ul>
    </header>

    <div class="content">
        <h2>S'inscrire</h2>

        <div class="formulaire">
            <div class="formulaire_inputs">
                <label>Nom : </label>
                <input class="form_lastname" name="lastname" type="text"><br>
                <label>Prénom : </label>
                <input class="form_name" name="name" type="text"><br>
                <label>Mot de passe : </label>
                <input class="form_password" name="password" type="password"><br>
            </div>
            <center>
                <button class="blueButton startTestButton">Passer le test des intelligences multiples</button>
            </center>
        </div>

        <p class="alreadyAccount">Vous avez déjà un compte ? <a class="loginHref" href="login">connectez-vous ici.</a></p>
    </div>

    <div class="intelligenceTest">
        <p class="closepopup">X</p>
        <h2>Test des intelligences multiples</h2>
        <h3>De Gardner</h3>
        <p class="explication">Lisez chaque énoncé et lorsqu'il correspond à votre personnalité, à vos intérêts ou à vos habiletés,
            encerclez le numéro à côté de la phrase. Vous devez répondre spontanément.</p>
        <ol>
            <li><input type="checkbox" name="q1" value="q1">Je me pose beaucoup de questions sur le fonctionnement des objets.</li>
            <li><input type="checkbox" name="q2" value="q2">J'offre spontanément de l'aide à mes amis lorsqu'ils en ont besoin.</li>
            <li><input type="checkbox" name="q3" value="q3">J'aime raconter des histoires et des blagues.</li>
            <li><input type="checkbox" name="q4" value="q4">Je suis sensible aux bruits et aux sons.</li>
            <li><input type="checkbox" name="q5" value="q5">Je m'adonne à des activités physiques de façon régulière.</li>
            <li><input type="checkbox" name="q6" value="q6">Je passe beaucoup de temps libre à dessiner.</li>
            <li><input type="checkbox" name="q7" value="q7">Je vois des images dans ma tête quand je pense à quelque chose.</li>
            <li><input type="checkbox" name="q8" value="q8">Je suis indépendant(e) et je tiens à mes idées.</li>
            <li><input type="checkbox" name="q9" value="q9">Je semble être une personne populaire.</li>
            <li><input type="checkbox" name="q10" value="q10">Je m'interesse à l'horticulture ou au jardinage.</li>
            <li><input type="checkbox" name="q11" value="q11">J'aime lire pendant mes temps libres.</li>
            <li><input type="checkbox" name="q12" value="q12">Je retrouve rapidement les failles dans le raisonnement des gens.</li>
            <li><input type="checkbox" name="q13" value="q13">Le fait de prendre des notes.</li>
            <li><input type="checkbox" name="q14" value="q14">Je compte rapidement dans ma tête.</li>
            <li><input type="checkbox" name="q15" value="q15">Je me rappelle facilement les mélodies que j'entends.</li>
            <li><input type="checkbox" name="q16" value="q16">Je me plais à jouer aux cartes ou aux jeux de société.</li>
            <li><input type="checkbox" name="q17" value="q17">Je tiens ma maison ou mon bureau en ordre : une place pour chaque chose; chaque chose à sa place.</li>
            <li><input type="checkbox" name="q18" value="q18">Je suis motivé(e) à travailler seul dans certains projets.</li>
            <li><input type="checkbox" name="q19" value="q19">Il m'est facile de bouger ou de danser avec rythme.</li>
            <li><input type="checkbox" name="q20" value="q20">Le contact avec la nature m’apaise, me calme</li>
            <li><input type="checkbox" name="q21" value="q21">J’aime identifier les oiseaux, les plantes, les arbres.</li>
            <li><input type="checkbox" name="q22" value="q22">Je suis attenti(ve) lorsque j’écoute une conférence, un exposé. </li>
            <li><input type="checkbox" name="q23" value="q23">J’ai besoin de savoir pourquoi je devrais faire quelque chose avant d’accepter de le faire.</li>
            <li><input type="checkbox" name="q24" value="q24">J’ai une assez bonne mémoire par rapport à ce que je lis ou par rapport à ce que j’entends.</li>
            <li><input type="checkbox" name="q25" value="q25">Le fait que je sois structuré(e) contribue au succès de ce que j’entreprends.</li>
            <li><input type="checkbox" name="q26" value="q26">J’ai besoin de toucher les gens lorsque je leur parle. </li>
            <li><input type="checkbox" name="q27" value="q27">Je décide par moi-même ce que je pense, ce que je choisis, ce que je fais.</li>
            <li><input type="checkbox" name="q28" value="q28">Je peux suivre la mesure d’une pièce musicale.</li>
            <li><input type="checkbox" name="q29" value="q29">Lorsque j’étais enfant ou adolescent(e), j’avais un kit de chimie ou d’autres sciences avec lesquels j’aimais faire des expériences.</li>
            <li><input type="checkbox" name="q30" value="q30">Je lis des cartes, des tableaux et des diagrammes sans difficultés.</li>
            <li><input type="checkbox" name="q31" value="q31">Je me préoccupe de l’environnement dans mes gestes du quotidien (recyclage, usage des ressources).</li>
            <li><input type="checkbox" name="q32" value="q32">Je suis habile de mes mains ; j’aime travailler avec des outils ou des instruments. </li>
            <li><input type="checkbox" name="q33" value="q33">Je suis habile aux jeux de stratégie et je gagne souvent.</li>
            <li><input type="checkbox" name="q34" value="q34">Je m’exprime avec un vocabulaire riche.</li>
            <li><input type="checkbox" name="q35" value="q35">Je dessine des objets et des personnes de façon précise.</li>
            <li><input type="checkbox" name="q36" value="q36">Avant de me décider à quelque chose, je pèse le pour et le contre.</li>
            <li><input type="checkbox" name="q37" value="q37">Je reconnais les fausses notes dans l’exécution d’une pièce musicale.</li>
            <li><input type="checkbox" name="q38" value="q38">Je suis habile dans la pratique de plusieurs sports.</li>
            <li><input type="checkbox" name="q39" value="q39">Je suis celui que l’on consulte lorsqu’il y a un conflit dans un groupe.</li>
            <li><input type="checkbox" name="q40" value="q40">J’aime bavarder sur tout et rien.</li>
            <li><input type="checkbox" name="q41" value="q41">J’aime être en contact avec les animaux ou les observer dans leur environnement. </li>
            <li><input type="checkbox" name="q42" value="q42">Je peux passer des heures à tenter de résoudre des problèmes. </li>
            <li><input type="checkbox" name="q43" value="q43">Je m’intéresse à toutes sortes de musiques ; j’en écoute régulièrement, à la radio ou sur disque. </li>
            <li><input type="checkbox" name="q44" value="q44">Lorsqu’un livre est illustré, je m’intéresse d’abord et surtout aux illustrations.</li>
            <li><input type="checkbox" name="q45" value="q45">J’aime classifier et catégoriser.</li>
            <li><input type="checkbox" name="q46" value="q46">Je touche les objets lorsque je me promène ou lorsque je me déplace dans la maison. </li>
            <li><input type="checkbox" name="q47" value="q47">J’aime sortir pour rencontrer des amis.</li>
            <li><input type="checkbox" name="q48" value="q48">Je suis à l’écoute des sentiments des autres ; j’en tiens compte.</li>
            <li><input type="checkbox" name="q49" value="q49">Je réagis fortement aux opinions controversées.</li>
            <li><input type="checkbox" name="q50" value="q50">J’ai de la difficulté à me concentrer sur un travail lorsque j’écoute la radio ou la télévision.</li>
            <li><input type="checkbox" name="q51" value="q51">J’apprends en faisant.</li>
            <li><input type="checkbox" name="q52" value="q52">J’adore résoudre des énigmes ou faire des casse-tête qui demandent que la logique.</li>
            <li><input type="checkbox" name="q53" value="q53">J’organise souvent des activités dans mon entourage.</li>
            <li><input type="checkbox" name="q54" value="q54">J’aime collectionner des objets puis les classer.</li>
            <li><input type="checkbox" name="q55" value="q55">J’aime les concerts, les récitals, les comédies musicales ou l’opéra.</li>
            <li><input type="checkbox" name="q56" value="q56">J’ai confiance en moi.</li>
            <li><input type="checkbox" name="q57" value="q57">Je suis entreprenant(e).</li>
            <li><input type="checkbox" name="q58" value="q58">J’ai la « main verte ».</li>
            <li><input type="checkbox" name="q59" value="q59">Je m’oriente facilement dans une nouvelle ville.</li>
            <li><input type="checkbox" name="q60" value="q60">J'aime visionner des films, des DVD et regarder des photographies.</li>
            <li><input type="checkbox" name="q61" value="q61">J'ai des facilités à écrire.</li>
            <li><input type="checkbox" name="q62" value="q62">Je considère qu'il est important de préserver nos parcs régionaux ou nationaux? J'aime les fréquenter. </li>
            <li><input type="checkbox" name="q63" value="q63">J'aime m'exprimer dans les discussions de famille.</li>
            <li><input type="checkbox" name="q64" value="q64">Je me plais à penser à ma vie, à mes désirs et à mes croyances </li>
            <li><input type="checkbox" name="q65" value="q65">J'aime les exercices de visualisation. Quand je songe à réaménager une pièce, je peux facilement la voir dans ma tête.</li>
            <li><input type="checkbox" name="q66" value="q66">Je peux facilement reconnaître la rotation d'une figure géométrique dans l'espace.</li>
            <li><input type="checkbox" name="q67" value="q67">Je travaille bien seul(e).</li>
            <li><input type="checkbox" name="q68" value="q68">J'aime résoudre des mots croisés ou jouer au Scrabble.</li>
            <li><input type="checkbox" name="q69" value="q69">Je chante juste ou je joue d'un instrument de musique.</li>
            <li><input type="checkbox" name="q70" value="q70">J'aimes les films qui procurent des sensations fortes.</li>
            <li><input type="checkbox" name="q71" value="q71">J'aime les randonnées de plein air, la chasse ou la pêche.</li>
            <li><input type="checkbox" name="q72" value="q72">J'aime monter et démonter des objets.</li>
            <li><input type="checkbox" name="q73" value="q73">J'aime me retrouver seul(e) pour poursuivre mes intérêts personnels.</li>
            <li><input type="checkbox" name="q74" value="q74">Je participe à des clubs sociaux ou sportifs.</li>
            <li><input type="checkbox" name="q75" value="q75">J'ai une bonne mémoire pour les nom de personnes, de lieux, les dates ou les détails.</li>
            <li><input type="checkbox" name="q76" value="q76">J'apprécie les jeux de mots.</li>
            <li><input type="checkbox" name="q77" value="q77">Je peux mimer de gestes, les manières et les comportements d'autres personnes.</li>
            <li><input type="checkbox" name="q78" value="q78">Je suis sensible à la musicalité des poèmes, des textes, de la parole.</li>
            <li><input type="checkbox" name="q79" value="q79">Je possède un télescope, des jumelles ou un microscope.</li>
            <li><input type="checkbox" name="q80" value="q80">Il m'est difficile de rester assis trop longtemps, j'ai besoin de bouger.</li>
            <br>
            <center><button class="blueButton validateTest">Valider</button></center>

        </ol>
    </div>



    <script type="text/javascript" src="js/jquery-2.2.0.min.js"></script>
    <script type="text/javascript" src="js/signin_script.js"></script>
</body>
</html>
